<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>97</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>98</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>99</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>100</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>101</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>102</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>103</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>104</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
