<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>87</BK1>
  <BK2>97</BK2>
  <Col3>57</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>84</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>221</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
    </chardata>
  </character>
  <character>
    <charcode>85</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>187</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
    </chardata>
  </character>
  <character>
    <charcode>86</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>251</data>
      <data>230</data>
      <data>217</data>
      <data>230</data>
      <data>217</data>
      <data>230</data>
    </chardata>
  </character>
  <character>
    <charcode>87</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>239</data>
      <data>155</data>
      <data>103</data>
      <data>155</data>
      <data>103</data>
      <data>155</data>
    </chardata>
  </character>
  <character>
    <charcode>88</charcode>
    <chardata>
      <data>153</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
      <data>153</data>
      <data>102</data>
    </chardata>
  </character>
  <character>
    <charcode>89</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>136</data>
      <data>136</data>
      <data>136</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
</charset>
